<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 style="text-align: center;">Admin Dashboard</h1>
    <br><br>
    <form style="text-align: center;">
    <button>View Event Request Form</button>
    </form>
    <form style="text-align: center;" action="/maintainAdmin" method="GET">
        <button type="submit">Maintain Current Admins</button>
    </form>
</body>
</html>