<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <button>View Event Request Form</button>
    <button>Create a New Admin Account</button>
    <button>Maintain Current Admins</button>

    <form action="/createAdmin" method="POST">
        <label for="fname">Enter your first name:</label>
        <input type="text" id="fname" name="fname">
        <br><br>
        <label for="lname">Enter your last name:</label>
        <input type="text" id="lname" name="lname">
        <br><br>
        <label for="username">Create a unique username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Create a secure password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <button type="submit">Create User</button>
</body>
</html>