<!DOCTYPE html>
<html>
<head>
  <title>Event Organizer List</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1 style="text-align: center;">Event Organizers</h1>
  <table>
    <thead>
        <tr> <!-- table row -->
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% if (organizers.length > 0) { %>
        <% organizers.forEach(row => { %> <!-- for each record, send the record to "row" -->
          <tr>
            <input type="hidden" value="row.id">
            <td><%= row.firstname %></td>
            <td><%= row.lastname %></td>
            <td><%= row.email %></td>
            <td><%= row.phone %></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="7">No data available</td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <form action="/admin" method="GET" style="text-align: center;"><button>Return To Admin</button></form>

</body>
</html>