<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="logo2.png" type="image/png">
</head>
<body>

  <header class="navbar">
    <a class="logo" href='/'>
        <img src="logo2.png" alt="Logo">
      <div class="logo" style="text-decoration: none;"><span style="color: #333;">TURTLE SHELTER<br>PROJECT</span></div>
    </a>

  </header>
<br>

    <form action="/login" method="POST" class="form-container" id="verify-form">
        <h1 style="text-align: center;">Log in</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <label for="token">Enter the 6-digit code from your app:</label>
        <input type="text" id="token" name="token" placeholder="123456" required>
        <br><br>
        <button style="display: flex; justify-content: center; align-items: center;" type="submit">Login</button>
    </form>

</body>
</html>