<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vests Distributed</title>
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <script src="hamburger.js"></script>
      <!-- Navigation Bar -->
  <header class="navbar">
    <a class="logo" href='/'>
      <img src="logo2.png" alt="Logo">
    <div class="logo" style="text-decoration: none;"><span style="color: #333;">TURTLE SHELTER<br>PROJECT</span></div>
  </a>
    <nav class="nav-links">
      <a href="/jensStory">JEN'S STORY</a>
      <a href="/sponsors">SPONSORS</a>
      <a href="/about">ABOUT</a>
      <a href="/donations">DONATIONS</a>
    </nav>
    <div class="hamburger-icon" id="hamburger-icon">
      ☰
    </div>
  </header>
  <div id="dropdown-menu" class="dropdown hidden">
    <a href="/jensStory">JEN'S STORY</a>
    <a href="/sponsors">SPONSORS</a>
    <a href="/about">ABOUT</a>
    <a href="/donations">DONATIONS</a>
  </div>

  <div class="story-page">
    <h1>Vests Distributed</h1>
    
    <section>
      <img src="vest3.jpg" alt="December 2018 Additional Image" class="image-wrap">
      <h2>January 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 20</li>
        <li>Salt Lake City, Ut - 1</li>
      </ul>
      
    </section>

    <section>
      <h2>December 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 4</li>
        <li>Lantern House, Ogden, Ut - 12</li>
        <li>Downtown Library, Salt Lake City, Ut - 9</li>
        <li>Herman Franks Park, Salt Lake City, Ut - 3</li>
      </ul>
      <br><br><br>
      <img src="vest2.jpg" alt="January 2018 Vests Distribution" class="image-wrap-right">
      
      
    </section>

    <section>
      <h2>March 2018</h2>
      <ul>
        <li>Youth Futures, Ogden, Ut - 5</li>
      </ul>
    </section>

    <section>
      <h2>November 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 2</li>
        <li>The Road Home, Salt Lake City, Ut - 20</li>
      </ul>
      <br><br><br>
      <img src="vest1.jpg" alt="December 2018 Vests Distribution" class="image-wrap">
      
    </section>

    <section>
      <h2>January 2019</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 5</li>
        <li>Lantern House, Ogden, Ut - 5</li>
        <li>Downtown Library, Salt Lake City, Ut - 11</li>
        <li>Ogden Rescue Mission - 8</li>
      </ul>
      <br>
      <img src="vest4.jpg" alt="November 2018 Vests Distribution" class="image-wrap-right">
    </section>

    <section>
      <h2>October 2019</h2>
      <ul>
        <li>Project Homeless Connect, SLC, UT - 566</li>
      </ul>
    </section>

    <section>
        <br>
      <p>Additional vests made and donated in 2019-2020 winter.</p>
      <p><strong>Total Vests Donated as of August 2021:</strong> 1000</p>
    </section>
  </div>
  <br><br><br><br><br><br>
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
    <br>
    <p>PO Box 382, Kaysville, UT 84037 -- 801-872-3190 -- <a href="mailto:turtleshelterproject@gmail.com">turtleshelterproject@gmail.com</a></p>
  </footer>
</body>
</html>