<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vests Distributed</title>
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
  <style>
.dashboard-container {
  width: 100%;
  max-width: 1000px; /* Maximum width for the dashboard */
  height: auto;
  max-height: 1000px; /* Maximum height for the dashboard */
  margin: 0 auto; /* Center the container horizontally */
  border: 3px solid #ccc;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
  </style>
</head>
<body class="small-img-page">
    <script src="hamburger.js"></script>
      <!-- Navigation Bar -->
  <header class="navbar">
    <a class="logo" href='/'>
      <img src="logo2.png" alt="Logo">
    <div class="logo" style="text-decoration: none;"><span style="color: #333;">TURTLE SHELTER<br>PROJECT</span></div>
  </a>
    <nav class="nav-links">
      <a href="/jensStory">JEN'S STORY</a>
      <a href="/sponsors">SPONSORS</a>
      <a href="/about">ABOUT</a>
      <a href="/donations">DONATIONS</a>
    </nav>
    <div class="hamburger-icon" id="hamburger-icon">
      ☰
    </div>
  </header>
  <div id="dropdown-menu" class="dropdown hidden">
    <a href="/jensStory">JEN'S STORY</a>
    <a href="/sponsors">SPONSORS</a>
    <a href="/about">ABOUT</a>
    <a href="/donations">DONATIONS</a>
  </div>

  <div id="sidebar" class="sidebar">
    <a href="/about">Why Turtle Shelter Project?</a>
    <a href="/vestsDistributed">Vests Distributed</a>
    <a href="/faqs">FAQs</a>
  </div>
  <button id="toggle-btn" class="toggle-btn">⮜</button>
  </div>
  
  <div class="story-page">
    <h1>Vests Distributed</h1>
    
    <section>
      <img src="vest3.jpg" alt="December 2018 Additional Image" class="image-wrap">
      <h2>January 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 20</li>
        <li>Salt Lake City, Ut - 1</li>
      </ul>
      
    </section>

    <section>
      <h2>December 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 4</li>
        <li>Lantern House, Ogden, Ut - 12</li>
        <li>Downtown Library, Salt Lake City, Ut - 9</li>
        <li>Herman Franks Park, Salt Lake City, Ut - 3</li>
      </ul>
      <br><br><br>
      <img src="vest2.jpg" alt="January 2018 Vests Distribution" class="image-wrap-right">
      
      
    </section>

    <section>
      <h2>March 2018</h2>
      <ul>
        <li>Youth Futures, Ogden, Ut - 5</li>
      </ul>
    </section>

    <section>
      <h2>November 2018</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 2</li>
        <li>The Road Home, Salt Lake City, Ut - 20</li>
      </ul>
      <br><br><br>
      <img src="vest1.jpg" alt="December 2018 Vests Distribution" class="image-wrap">
      
    </section>

    <section>
      <h2>January 2019</h2>
      <ul>
        <li>Shepherd’s Bowl, Ogden, Ut - 5</li>
        <li>Lantern House, Ogden, Ut - 5</li>
        <li>Downtown Library, Salt Lake City, Ut - 11</li>
        <li>Ogden Rescue Mission - 8</li>
      </ul>
      <br>
      <img src="vest4.jpg" alt="November 2018 Vests Distribution" class="image-wrap-right">
    </section>

    <section>
      <h2>October 2019</h2>
      <ul>
        <li>Project Homeless Connect, SLC, UT - 566</li>
      </ul>
    </section>

    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <p style="text-align: center;">Additional vests made and donated from 2019-2024.</p>
      <p style="text-align: center;"><strong>Total Vests Donated as of December 2024:</strong> 59,000</p>
    </div>
  </div>
  <div class="dashboard-container">
    <div class='tableauPlaceholder' id='viz1733441306189' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistributionDashboard_17334411456560&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DistributionDashboard_17334411456560&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistributionDashboard_17334411456560&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1733441306189');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='927px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
  </div>
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
    <br>
    <p>PO Box 382, Kaysville, UT 84037 -- 801-872-3190 -- <a href="mailto:turtleshelterproject@gmail.com">turtleshelterproject@gmail.com</a></p>
  </footer>
</body>
</html>